data/Jul-Aug/*
data/log82_89/*
C2RCC/full_S2_c2rcc/
C2RCC/full_s2_c2rcc_c2X/
C2RCC/full_s2_c2rcc_c2X_all_valid_salin03/
C2RCC/idpix/
C2RCC/subset_test_out/
C2RCC/subset_test_out_c2rcc/
C2RCC/subset_test_out_good/
C2RCC/test_good/
C2RCC/test_in/
C2RCC/test_out/
Polymer/full_s2_resample_subset/
Polymer/idepix_subset_resample_full_s2/
Polymer/polymer_S2_full_out/
Polymer/test_good/
Polymer/test_out/
planetData/0ecd57f8-2d91-420e-9d7a-ec15cce97ec4/
planetData/1d4efd43-8d41-4013-a61e-d0cf18181d34/
planetData/4039e27b-1f1e-49ff-8e2b-c410bb19b5ba/
planetData/9c146ad9-20eb-4407-83b5-7ad963549f7c/
planetData/Airthrey-2023-Jul-Oct_psscene_analytic_8b_udm2/
planetData/Aithrey2023-Apr-June_psscene_analytic_8b_udm2/
planetData/Aithrey_2022_Apr-Sept_psscene_analytic_8b_udm2/
planetData/aafeef05-f9d7-47c0-9d74-5d675c59bf8e/
planetData/acolite_output_L2W/
planetData/airth_2020_2021_psscene_analytic_8b_udm2/
planetData/airth_jan23-apr24_psscene_analytic_8b_udm2/
planetData/airth_winter_22_jan23_psscene_analytic_8b_udm2/
planetData/e0e95451-53f5-437d-b88a-e7cb3f68c5b9/
planetData/full_SR/
map_stuff/NorthArrow3.png
map_stuff/aerial.tif
map_stuff/aerial.tif.aux.xml
map_stuff/aerial1_32630.tif
map_stuff/aerial1_32630.tif.aux.xml
map_stuff/aerial2.tif
map_stuff/aerial2.tif.aux.xml
map_stuff/aerial_merged_27700.tif
map_stuff/aerial_merged_27700.tif.aux.xml
map_stuff/aerial_merged_32630.tif
map_stuff/aerial_merged_32630.tif.aux.xml
map_stuff/north_arrow.jpeg
map_stuff/north_arrow2.png
map_stuff/north_arrow2_invert.png
map_stuff/north_arrow_1.jpeg
map_stuff/rasters/.DS_Store
map_stuff/rasters/Sentinel2/
map_stuff/rasters/planet/

